@charset "utf-8";
ul,li,body,a,table,tr,td
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
  color:#000
html,body
  width 100%;
  height: 100%;
  overflow auto;

.code
  border 1px solid #eee
  border-radius 6px
  background-color #ccc
  white-space pre-wrap
  position relative
  padding-left 10px
  &>span 
    background: #eee;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor pointer
.alt
  position fixed
  bottom 10px
  left 10px
  z-index 1
.top {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
::-webkit-scrollbar {
    width:0px;
    height:0px;
}
